@import '../constants/variables.css';

.editor__text {
  flex-grow: 1;
  caret-color: var(--text-caret-color);
  min-height: var(--text-min-height);
  outline: none;
  font-family: var(--font-menu);
  &:not(:has(*)):hover {
    background-color: var(--text-row-focus);
  }
  & *:hover {
    background-color: var(--text-row-focus);
  }
}