:root {
  /* colors */
  --container-color: #1E1E1E;
  --editor-font-color: #EAEAEA;
  /* dimensions */
  --editor-max-width: 800px;
  --editor-margin: 10px;
}

@media (width >= 1000px) {
  :root {
    --editor-width: 80%;
  }
}

@media (380px < width < 1000px) {
  :root {
    --editor-width: 80%;
  }
}

@media (width <=380px) {
  :root {
    --editor-width: 90%;
  }
}